<h2>Test Yourself with Flashcards!</h2><br>
<img class='cartoon-dictionary' src='/img/dictionary.jpg' alt='cartoon dictionary image'/>

<h3> <%=@word.name%> </h3><br>

<a class='btn btn-default' href='/words/<%=@word_id%>'>Show Definition</a>
<hr>
<a class='btn btn-default' href='/'>Back to Homepage</a>
