<h2>Test Yourself with Flashcards!</h2><br>

<h3> <%=@word.name%> </h3><br>

<a class='btn btn-default' href='/words/<%=@word_id%>'>Show Definition</a>
<hr>
<a class='btn btn-default' href='/'>Back to Homepage</a>
