<!DOCTYPE html>
<html>
  <head>
    <title>The Word Definer</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Kranky|Short+Stack|Cutive|" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link  rel='stylesheet' href="/css/styles.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <h1>The Word Definer</h1>
    </div>
    <div class="main-content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <footer>
      <h3>Join us in #helpingkidslearn</h3>
      <h4>&copy 2017</h4>
    </footer>
  </body>
</html>
