<h2>You've successfully added a definition!</h2>
<br>
<img class='cartoon-dictionary' src='/img/dictionary.jpg' alt='cartoon dictionary image'/>
<br><br><hr>

<a class='btn btn-default' href='/words/<%=@word.id%>'>Back to word</a>
