<h2>You've successfully added a word!</h2>
<br>
<img class='cartoon-dictionary' src='/img/dictionary.jpg' alt='cartoon dictionary image'/>
<br><br><hr>

<a class='btn btn-default' href='/'>Back to homepage</a>
