<h2>Add a Word to Your Dictionary:</h2><br>
<br>

<form id='words_form' action='/' method='post'>
  <div class='form-group'>
    <label for='name'>Word : </label>
    <input type='text' name='name' class='form-control'>
  </div>
  <div class='form-group'>
    <label for='type'>Enter the word type (e.g. noun, verb, etc) : </label>
    <input type='text' name='type' class='form-control'>
  </div>

  <button class='btn btn-default' type='submit'>Add Your Word</button>

</form>
