<img class='cartoon-dictionary' src='/img/dictionary.jpg' alt='cartoon dictionary image'/>
<br>

<h3><%=@word.name%></h3>
<br>

<h2>Definition(s): </h2>

<ul>
  <%@word.definitions.each do |definition|%>
  <li><%=definition.text%></li>
  <%end%>
</ul>
<br>

<a class='btn btn-default' href='/words/<%=@word.id%>/definitions/new'>Add a definition</a>
<hr>
<a class='btn btn-default' href='/flashcard'>Test Yourself with Flashcards!</a>
<br><br>
<a class='btn btn-default' href='/'>Back to Homepage</a>
